rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Regras para avatares de usuário
    match /users/{userId}/profile.jpg {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Regras para escudos de times
    match /shields/{teamId}/{fileName} {
      allow read;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    
    // Regras para comprovantes de DEPÓSITO
    match /receipts/deposits/{userId}/{fileName} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regras para comprovantes de SAQUE
    match /receipts/withdrawals/{userId}/{fileName} {
      allow read;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}
